<div class="column" id="column-right">
    <div id="blog-profile">
        <a href="{{ "/about" | relative_url }}"><img src="{{ "/assets/img/reaction.png" | relative_url }}"></a>
        <p>
            <strong>Tetsu</strong><br>
            Welcome to my blog.
        </p>
    </div>

    <div id="blog-categories">
        <h4 class="heading">categories</h4>
        <ul>
            {% assign site_categories = site.categories | sort %}
            {% for category in site_categories %}
            <li><a href="/category/{{ category | first }}">{{ category | first | downcase }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
