@import "syntax";
@import "variables";

body {
    background: #F1F2F6;
    color: $base-font-color;
    font: 400 1em/1.7 $base-font-family;
    margin: 0;   
    padding: 20px 0;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.article-meta, figcaption {
    color: #AAA;
}

blockquote {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="3"><path fill="hsl(0 0% 95.2%)" d="M0 1.8V0h1.8M1.8 3L3 1.8V0L0 3"/></svg>');
    border-left: 3px solid $base-theme-color;
    margin: 3em 0;
    padding: 1.5em;
}

caption, h1, h2, h3, h4, h5, h6, th, .blog-menu {
    font-family: $base-heading-family;
}

hr {
    margin: 3em auto 1em;
}

.zigzag-rule {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 25"><polyline fill="none" stroke="hsl(211 39% 55%)" stroke-width="1" points="75,6.2 62.5,18.8 50,6.2 37.5,18.8 25,6.2 12.5,18.8 0,6.2 -12.5,18.8 -25,6.2"/></svg>');
    border: 0;
    height: 1em;
    max-width: 7.5em;
}

code, pre, tt {
    font-family: Consolas;
    overflow-x: auto;
}

pre {
    background: #F9F9F9;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 14px;
    padding: .2em .7em;
}

.blog-menu, .container {
    margin: 0 auto;
    width: 800px;
} 

.blog-menu {
    padding: 50px 200px;

    ul li {
        display: inline;
    }

    li + li::before {
        color: #E3E4E8;
        content: " ​ ​ | ​ ";
    }

    a {
        color: #C3C4C6;
    }
}

.container {
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(230, 230, 230, 0.5);
    padding: 75px 150px;
}

.article-content {
    a {
        color: $base-theme-color;
    }

    a img {
        padding: 3px;
    }

    a img:hover {
        border: 1px solid $base-theme-color;
        padding: 2px;
    }

    img {
        max-width: 80%;
        height: auto;
    }

    p {
        margin-top: 1.4em;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            line-height: 2.5em;
        }

        li::before {
            content: "▪";
            color: $base-theme-color;
            font-weight: bold;
            display: inline-block;   
            width: 1.1em;
        }
    }

    .emoji {
        height: 1em;
        width: 1em;
        margin: 0 .05em 0 .1em;
        vertical-align: -0.1em;
    }
}

.article-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.article-meta {
    font-family: $base-font-family;
    margin-top: -1em;
    padding-bottom: .7em;
}

.article-title {
    font-size: 1.7em;

    a:link {
        color: $base-font-color;
        text-decoration: none;
    }

    a:hover {
        color: $base-theme-color;
        text-decoration: none;
    }
}

.misc-info {
    padding-top: 30px;

    table {
        table-layout: fixed;

        th, td {
            padding: 0 10px;
            width: 25%;
        }

        th {
            color: #ADB4CB;
            font-family: $base-heading-family;
            text-align: left;
        }

        td {
            vertical-align: 0%;
        }
    }
}

.pagination {
    padding-top: 30px;
    text-align: center;

    a, a:hover {
        color: $base-theme-color;
        text-decoration: none;
    }
}

/*
=============================
         Text Styling
=============================
*/

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.color-pink {
    color: $base-pink-color;
}

.color-turquoise {
    color: $base-theme-color;
}