@import "syntax";
@import "variables";

body {
    background: #F1F2F6;
    color: $base-font-color;
    font: 400 1em/1.7 $base-font-family;
    margin: 0;
    padding: 20px 0;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.article-meta, figcaption {
    color: #AAA;
}

blockquote {
    background: $svg-stripe-pattern;
    border-left: 4px solid $base-theme-color;
    margin: 3em 0;
    padding: 1.5em;

    p { 
        margin: 0 8px;
    }
}

caption, h1, h2, h3, h4, h5, h6, th, .site-menu {
    font-family: $base-heading-family;
}

figure {
    padding-bottom: 1em;
}

hr {
    margin: 3em auto 1em;
}

.zigzag-rule {
    background: $zigzag-line-hr;
    border: 0;
    height: 1em;
    width: 7.5em;
}

code, pre, tt {
    font-family: Consolas;
    overflow-x: auto;
}

pre {
    background: #F9F9F9;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 14px;
    padding: .2em .7em;
}

.site-menu, .container {
    margin: 0 auto;
    width: 800px;
} 

.site-menu {
    padding: 50px 200px;

    ul li {
        display: inline;
    }

    li + li::before {
        color: #E3E4E8;
        content: " ​ ​ | ​ ";
    }

    a {
        color: #C3C4C6;
    }
}

.container {
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(230, 230, 230, 0.5);
    padding: 75px 150px;
}

.article, .article-content {
    a {
        color: $base-theme-color;
    }

    a img:hover {
        border: 1px solid $base-theme-color;
        padding: 2px;
    }

    img {
        width: 700px;
        height: auto;
        padding: 3px;
    }

    p {
        line-height: 1.85;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            line-height: 2.5em;
        }

        li::before {
            content: "▪";
            color: $base-theme-color;
            font-weight: bold;
            display: inline-block;   
            width: 1.1em;
        }
    }

    img.emoji {
        display: inline;
        border: none;
        box-shadow: none;
        height: 1em;
        width: 1em;
        margin: 0 .07em;
        vertical-align: -0.1em;
        background: none;
        padding: 0;
    }
}

.article-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.article-meta {
    font-family: $base-font-family;
    margin-top: -1em;
    padding-bottom: .7em;
}

.article-title {
    font-size: 1.7em;

    a:link {
        color: $base-font-color;
        text-decoration: none;
    }

    a:hover {
        color: $base-theme-color;
        text-decoration: none;
    }
}

.pagination {
    padding-top: 30px;
    text-align: center;

    a, a:hover {
        color: $base-theme-color;
        text-decoration: none;
    }
}

/*
=============================
         Text Styling
=============================
*/

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.color-pink {
    color: $base-pink-color;
}

.color-turquoise {
    color: $base-theme-color;
}