$svg-stripe-bg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='3' height='3'><path d='M0 1.8V0h1.8M1.8 3L3 1.8V0L0 3'/></svg>");

$accent-color: #F16C00;
$base-font-color: #A2938C;