@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

$base-heading-family: Quicksand;
$base-font-family:    Inter, sans-serif;
$base-font-color:     #373638;
$base-theme-color:    #608CBA;

$base-pink-color:     #FF135E;