---
layout: default
---

<div class="home">
    <h1 class="article-title"><span class="color-pink">Search</span> Results</h1>
    <h4 class="article-meta" style="font-family: Quicksand;">Found {{ site.posts | size }} stories</h4>

    <ul class="article-list">
        {% for post in site.posts %}
        <li>
            <header class="article-header">
                <h1 class="article-title">
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h1>
                <h4 class="article-meta">{{ post.date | date: "%F %R" | replace: "-", "/" }}, in {{ post.category }}</h4>

                <div class="article-content">
                    {{ post.content }}
                </div>

                {% if forloop.last == false %}
                    <hr class="zigzag-rule">
                {% endif %}
            </header>
        </li>
        {% endfor %}
    </ul>

    {% include pagination.html %}
</div>