<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div id="container">
        {% include LeftColumn.html %}

        {% include TopNav.html %}

        {% include RightColumn.html %}

        <div id="blog-content">
            {{ content }}
        </div>
    </div>
</body>
<script type="text/javascript">
    twemoji.parse(document.body, {
        ext:    ".svg",
        folder: "svg"
    })
</script>
</html>