---
layout: default
---

{{ content }}

<ul id="entry-list">
    {% for post in paginator.posts %}
    <li>
        <header class="entry-header">
            <h2 class="entry-title">
                <a class="entry-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <p class="entry-meta">
                In {{ post.category }}, {{ post.date | date: "%F %R" | replace: "-", "." }}
            </p>
        </header>
        <div class="entry-content">
            {{ post.content }}
        </div>
    </li>

    {% if forloop.last == false %}
    <br>
    {% endif %}
    {% endfor %}

    {% include Pagination.html %}
</ul>